<!--
<% const nombre = 'Daniel';  // codigo JS %>
<%= nombre %>
<% const objeto = {nombre:'Luis',edad:25}; %>
<br>
<%= objeto.edad %>
<br>
<% const arreglo = [1,2,3,4,5]; %>
<% arreglo.forEach((valorActual)=>{ %>
    <p> Numero: <%= valorActual %> </p>
<% })%>

<ol>
    <% arreglo.forEach((valorActual)=>{ %>
        <li> Valor: <%= valorActual %> </li>
    <% })%>
</ol>
-->

<style>
    table,tr,td, th{
        border: solid black 1px
    } 
</style>

<h1>Libros</h1>
<a href="/libros/crear">
    <button>Crear</button>
</a>
<br>
<br>

<input id="buscar" name="Buscar" type="text" value="">
<label for="tipo"></label>
    <select name="tipo" id="tipo" >
        <option value="ID">ID</option>
        <option value="Nombre">Nombre</option>
    </select>
<button>Buscar</button>
<br>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edicion</th>
        <th>Caduca</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th colspan="2">Acciones</th>
    </tr>
    <% arregloLibros.forEach((libro)=>{ %>
    <tr>
        <td> <%=libro.id%> </td>
        <td> <%=libro.nombre%> </td>
        <td> <%=libro.edicion%> </td>
        <td> <%=libro.fecha%> </td>
        <td> <%=libro.precio%> </td>
        <td> <%=libro.tipo%> </td>
        <td>
            <br>
                <form action="/libros/editarLibro/<%=libro.id%>" method='GET'>
                <input id="id" name="id" type="number" value='<%=libro.id%>' hidden>
                <button>Editar</button>
                </form>
        </td>
        <td>
            <br>
            <form action="/libros/eliminar" method="post">
                <input id="id" name="id" type="number" value="<% libro.id %>" hidden>
                <button>Borrar</button>
            </form>
        </td>
    </tr>
    <% })%>
</table>