<!--
<% const nombre = 'Daniel';  // codigo JS %>
<%= nombre %>
<% const objeto = {nombre:'Luis',edad:25}; %>
<br>
<%= objeto.edad %>
<br>
<% const arreglo = [1,2,3,4,5]; %>
<% arreglo.forEach((valorActual)=>{ %>
    <p> Numero: <%= valorActual %> </p>
<% })%>

<ol>
    <% arreglo.forEach((valorActual)=>{ %>
        <li> Valor: <%= valorActual %> </li>
    <% })%>
</ol>
-->

<style>
    table,tr,td, th{
        border: solid black 1px
    } 
</style>

<h1>Libros</h1>
<a href="/libros/crear">
    <button>Crear</button>
</a>
<br>
<br>

<input id="buscar" name="Buscar" onkeyup="myFunction()" type="search" value="">
<label for="tipo"></label>
    <select name="tipo" id="tipo" >
        <option value="ID">ID</option>
        <option value="Nombre">Nombre</option>
    </select>
<button>Buscar</button>

<script>
    function myFunction() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');
    
      console.log(input)
      // Loop through all list items, and hide those who don't match the search query
      /*for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }*/   
    }
    </script>

<br>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edicion</th>
        <th>Caduca</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th colspan="2">Acciones</th>
    </tr>
    <% arregloLibros.forEach((libro)=>{ %>
    <tr>
        <td> <%=libro.id%> </td>
        <td> <%=libro.nombre%> </td>
        <td> <%=libro.edicion%> </td>
        <td> <%=libro.fecha%> </td>
        <td> <%=libro.precio%> </td>
        <td> <%=libro.tipo%> </td>
        <td>
            <br>
                <form action="/libros/editarLibro/<%=libro.id%>" method='GET'>
                <input id="id" name="id" type="number" value='<%=libro.id%>' hidden>
                <button>Editar</button>
                </form>
        </td>
        <td>
            <br>
            <form action="/libros/eliminar" method="post">
                <input id="id" name="id" type="number" value="<% libro.id %>" hidden>
                <button>Borrar</button>
            </form>
        </td>
    </tr>
    <% })%>
</table>